<app-base-form-box>
  <app-input-form
    [labelId]="'name'"
    [labelText]="'ユーザ名'"
    [type]="'text'"
    [inputValue]="signUpInputs.name ?? ''"
  />
  <app-validation-errors [messages]="validationErrors.errors.name ?? []" />
</app-base-form-box>

<app-base-form-box [needsMargin]="true">
  <app-input-form
    [labelId]="'email'"
    [labelText]="'メールアドレス'"
    [inputValue]="signUpInputs.email"
  />
  <app-validation-errors [messages]="validationErrors.errors.email ?? []" />
</app-base-form-box>

<app-base-form-box [needsMargin]="true">
  <app-input-form
    [labelId]="'password'"
    [labelText]="'パスワード'"
    [type]="'password'"
    [inputValue]="signUpInputs.password"
  />
  <app-validation-errors [messages]="validationErrors.errors.password ?? []" />
</app-base-form-box>

<app-base-form-box [needsMargin]="true">
  <app-input-form
    [labelId]="'password-confirm'"
    [labelText]="'パスワード確認用'"
    [type]="'password'"
    [inputValue]="signUpInputs.passwordConfirm"
  />
  <app-validation-errors [messages]="validationErrors.errors.passwordConfirm ?? []" />
</app-base-form-box>

<app-submit-button [labelText]="'確認画面へ'" (handleSubmit)="emitHandleValidateSignUp()" />
