<app-base-form-box>
  <app-input-form
    [labelId]="'name'"
    [labelText]="'ユーザ名'"
    [type]="'text'"
    [inputValue]="signUpInputs.name ?? ''"
  />
  <div *ngIf="!!validationErrors.errors?.name?.length" class="w-full pt-5 text-left">
    <p *ngFor="let message of validationErrors.errors.name" class="text-red-400">
      {{ message }}
    </p>
  </div>
</app-base-form-box>

<app-base-form-box [needsMargin]="true">
  <app-input-form
    [labelId]="'email'"
    [labelText]="'メールアドレス'"
    [inputValue]="signUpInputs.email"
  />
  <div *ngIf="!!validationErrors.errors?.email?.length" class="w-full pt-5 text-left">
    <p *ngFor="let message of validationErrors.errors.email" class="text-red-400">
      {{ message }}
    </p>
  </div>
</app-base-form-box>

<app-base-form-box [needsMargin]="true">
  <app-input-form
    [labelId]="'password'"
    [labelText]="'パスワード'"
    [type]="'password'"
    [inputValue]="signUpInputs.password"
  />
  <div *ngIf="!!validationErrors.errors?.password?.length" class="w-full pt-5 text-left">
    <p *ngFor="let message of validationErrors.errors.password" class="text-red-400">
      {{ message }}
    </p>
  </div>
</app-base-form-box>

<app-base-form-box [needsMargin]="true">
  <app-input-form
    [labelId]="'password-confirm'"
    [labelText]="'パスワード確認用'"
    [type]="'password'"
    [inputValue]="signUpInputs.passwordConfirm"
  />
  <div *ngIf="!!validationErrors.errors?.passwordConfirm?.length" class="w-full pt-5 text-left">
    <p *ngFor="let message of validationErrors.errors.passwordConfirm" class="text-red-400">
      {{ message }}
    </p>
  </div>
</app-base-form-box>

<div class="w-full flex justify-center">
  <div class="mt-16">
    <button
      class="py-2 px-8 border-green-500 bg-green-500 rounded-xl text-white"
      (click)="emitHandleValidateSignUp()"
    >
      確認画面へ
    </button>
  </div>
</div>
