<app-base-form-box>
  <app-input-form
    [labelId]="'name'"
    [labelText]="'ユーザ名'"
    [type]="'text'"
    [inputValue]="signUpInputs.name ?? ''"
  />
  <app-validation-errors [messages]="validationErrors.errors.name ?? []" />
</app-base-form-box>

<app-base-form-box [needsMargin]="true">
  <app-input-form
    [labelId]="'email'"
    [labelText]="'メールアドレス'"
    [inputValue]="signUpInputs.email"
  />
  <app-validation-errors [messages]="validationErrors.errors.email ?? []" />
</app-base-form-box>

<app-base-form-box [needsMargin]="true">
  <app-input-form
    [labelId]="'password'"
    [labelText]="'パスワード'"
    [type]="'password'"
    [inputValue]="signUpInputs.password"
  />
  <app-validation-errors [messages]="validationErrors.errors.password ?? []" />
</app-base-form-box>

<app-base-form-box [needsMargin]="true">
  <app-input-form
    [labelId]="'password-confirm'"
    [labelText]="'パスワード確認用'"
    [type]="'password'"
    [inputValue]="signUpInputs.passwordConfirm"
  />
  <app-validation-errors [messages]="validationErrors.errors.passwordConfirm ?? []" />
</app-base-form-box>

<div class="w-full flex justify-center">
  <div class="mt-16">
    <button
      class="py-2 px-8 border-green-500 bg-green-500 rounded-xl text-white"
      (click)="emitHandleValidateSignUp()"
    >
      確認画面へ
    </button>
  </div>
</div>
