<div class="p-4 md:p-16">
  <div class="md:w-3/5 mx-auto" [ngSwitch]="phase">
    <div class="flex justify-between mb-16">
      <div>
        <span [ngClass]="phase === 'input' ? 'text-blue-300' : 'text-gray-300'">
          登録情報の入力
        </span>
      </div>
      <div class="text-gray-300">&gt;&gt;</div>

      <div>
        <span [ngClass]="phase === 'confirmation' ? 'text-blue-300' : 'text-gray-300'">
          登録情報の確認
        </span>
      </div>
      <div class="text-gray-300">&gt;&gt;</div>

      <div>
        <span [ngClass]="phase === 'thanks' ? 'text-blue-300' : 'text-gray-300'">登録完了</span>
      </div>
    </div>

    <div *ngSwitchCase="'input'">
      <app-sign-up-input
        [signUpInputs]="signUpInputs"
        [validationErrors]="validationErrors"
        (handleValidateSignUp)="handleValidateSignUp()"
      />
    </div>

    <div *ngSwitchCase="'confirmation'">
      <div class="flex w-full justify-around">
        <div class="w-1/2 align-middle">ユーザ名:</div>
        <div class="w-1/2 align-middle">{{ signUpInputs.name }}</div>
      </div>
      <div class="flex w-full justify-around mt-8">
        <div class="w-1/2 align-middle">メールアドレス:</div>
        <div class="w-1/2 align-middle">{{ signUpInputs.email }}</div>
      </div>
      <div class="flex w-full justify-around mt-8">
        <div class="w-1/2 align-middle">パスワード:</div>
        <div class="w-1/2 align-middle">{{ '*'.repeat(signUpInputs.password.length) }}</div>
      </div>
      <div class="flex w-full justify-around mt-16">
        <button
          class="py-2 px-8 border-gray-500 bg-gray-500 rounded-xl text-white"
          (click)="togglePhase('input')"
        >
          入力へ戻る
        </button>
        <button
          class="py-2 px-8 border-green-500 bg-green-500 rounded-xl text-white"
          (click)="handleSignUp()"
        >
          登録する
        </button>
      </div>
    </div>

    <div *ngSwitchCase="'thanks'">
      <div class="flex justify-center">
        <div>会員登録が完了しました。</div>
        <div>ご登録いただきありがとうございます。</div>
      </div>
    </div>
  </div>
</div>
